openapi: 3.0.3

info:
  title: HireApp API
  description: |
    HireApp MVP — SET Service MMC
    3 rol: super_admin, company, worker
    Auth: Bearer JWT (access token, 15 dəq)
  version: 1.0.0
  contact:
    name: M2Tech
    email: dev@m2tech.az

servers:
  - url: https://api.hireapp.az/v1
    description: Production
  - url: http://localhost:3000/v1
    description: Local development

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    # ── AUTH ──
    RegisterRequest:
      type: object
      required: [phone, role, name]
      properties:
        phone:
          type: string
          example: "+994501234567"
          description: Beynəlxalq format
        role:
          type: string
          enum: [super_admin, company, worker]
        name:
          type: string
          example: "Əli Həsənov"

    RegisterResponse:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        otp_sent:
          type: boolean
          example: true

    VerifyOtpRequest:
      type: object
      required: [phone, otp_code]
      properties:
        phone:
          type: string
          example: "+994501234567"
        otp_code:
          type: string
          example: "123456"
          description: Test mühitində həmişə 123456

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT, 15 dəqiqə ömrü
        refresh_token:
          type: string
          description: 30 gün ömrü
        user:
          $ref: '#/components/schemas/UserProfile'

    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    LogoutRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    UpdateFcmTokenRequest:
      type: object
      required: [fcm_token]
      properties:
        fcm_token:
          type: string
          description: Flutter tərəfindən hər loginda göndərilir

    # ── USER ──
    UserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        phone:
          type: string
        role:
          type: string
          enum: [super_admin, company, worker]
        name:
          type: string
        created_at:
          type: string
          format: date-time

    # ── COMPANY ──
    CompanyProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum: [pending, approved, rejected]
        docs_url:
          type: string
          description: S3 linkidir, DB-də saxlanılmır fayl özü
        created_at:
          type: string
          format: date-time

    UpdateCompanyRequest:
      type: object
      properties:
        name:
          type: string
        docs_url:
          type: string

    ApproveCompanyRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [approved, rejected]
        reason:
          type: string
          description: Rədd səbəbi (rejected olduqda)

    # ── WORKER ──
    WorkerProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        name:
          type: string
        skills:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: "aşpaz"
              level:
                type: integer
                minimum: 1
                maximum: 5
          description: JSONB sütununda saxlanılır
        rating_avg:
          type: number
          format: float
          example: 4.3
        availability:
          type: boolean

    UpdateWorkerRequest:
      type: object
      properties:
        skills:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              level:
                type: integer

    # ── ORDERS ──
    CreateOrderRequest:
      type: object
      required: [shift_start, shift_end, required_count]
      properties:
        shift_start:
          type: string
          format: date-time
          example: "2026-05-10T08:00:00Z"
        shift_end:
          type: string
          format: date-time
          example: "2026-05-10T20:00:00Z"
        required_count:
          type: integer
          minimum: 1
          example: 5
        required_skills:
          type: array
          items:
            type: string
          example: ["aşpaz", "ofisiant"]
        notes:
          type: string

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        shift_start:
          type: string
          format: date-time
        shift_end:
          type: string
          format: date-time
        required_count:
          type: integer
        required_skills:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [draft, active, completed, cancelled]
        assigned_count:
          type: integer
        created_at:
          type: string
          format: date-time

    # ── ASSIGNMENTS ──
    AssignWorkersRequest:
      type: object
      required: [worker_ids]
      properties:
        worker_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1

    Assignment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        order_id:
          type: string
          format: uuid
        worker_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, accepted, rejected]
        assigned_at:
          type: string
          format: date-time

    UpdateAssignmentStatusRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [accepted, rejected]

    # ── ATTENDANCE ──
    CheckinRequest:
      type: object
      required: [qr_token]
      properties:
        qr_token:
          type: string
          description: HMAC-SHA256 token, 30 saniyəlik ömür

    CheckinResponse:
      type: object
      properties:
        log_id:
          type: string
          format: uuid
        checkin_time:
          type: string
          format: date-time

    CheckoutResponse:
      type: object
      properties:
        log_id:
          type: string
          format: uuid
        checkout_time:
          type: string
          format: date-time
        duration_minutes:
          type: integer

    QrTokenResponse:
      type: object
      properties:
        qr_token:
          type: string
          description: 30 saniyəyə bir yenilənməlidir
        expires_at:
          type: string
          format: date-time

    # ── RATINGS ──
    CreateRatingRequest:
      type: object
      required: [worker_id, order_id, score]
      properties:
        worker_id:
          type: string
          format: uuid
        order_id:
          type: string
          format: uuid
        score:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string

    Rating:
      type: object
      properties:
        id:
          type: string
          format: uuid
        worker_id:
          type: string
          format: uuid
        order_id:
          type: string
          format: uuid
        score:
          type: integer
        comment:
          type: string
        created_at:
          type: string
          format: date-time

    # ── ERRORS ──
    Error:
      type: object
      properties:
        error:
          type: string
          example: "Giriş qadağandır"
        code:
          type: string
          example: "FORBIDDEN"

# ─────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────
paths:

  # ════════════════════════════════════════
  # AUTH
  # ════════════════════════════════════════

  /auth/register:
    post:
      tags: [Auth]
      summary: Qeydiyyat (OTP göndər)
      description: |
        Telefon nömrəsi ilə qeydiyyat. OTP SMS ilə göndərilir.
        **Test mühitində OTP həmişə `123456`**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: OTP göndərildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          description: Validation xətası (telefon formatı yanlışdır)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Bu telefon artıq qeydiyyatdadır
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/verify-otp:
    post:
      tags: [Auth]
      summary: OTP doğrula → token al
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOtpRequest'
      responses:
        '200':
          description: Giriş uğurlu, token-lər verilir
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: OTP yanlış və ya vaxtı keçib
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Çox sayda cəhd — 5 dəqiqə gözlə
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Access token yenilə
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Yeni access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Refresh token etibarsızdır və ya müddəti bitib
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Çıxış (refresh token-i blacklist et)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
      responses:
        '204':
          description: Uğurla çıxıldı
        '401':
          description: Token etibarsızdır

  /auth/fcm-token:
    patch:
      tags: [Auth]
      summary: FCM push token yenilə
      description: Flutter hər loginda bu endpoint-ə FCM token göndərir
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFcmTokenRequest'
      responses:
        '204':
          description: Token yeniləndi
        '401':
          description: Giriş tələb olunur

  # ════════════════════════════════════════
  # COMPANIES
  # ════════════════════════════════════════

  /companies/me:
    get:
      tags: [Companies]
      summary: Öz şirkət profilini gör
      description: Yalnız company rolu
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Şirkət profili
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyProfile'
        '401':
          description: Giriş tələb olunur
        '403':
          description: Yalnız company rolu üçün

    patch:
      tags: [Companies]
      summary: Şirkət profilini yenilə
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyRequest'
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyProfile'
        '401':
          description: Giriş tələb olunur

  /admin/companies:
    get:
      tags: [Admin — Companies]
      summary: Bütün şirkətlərin siyahısı
      description: Yalnız super_admin
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected]
          description: Statusla filtr
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompanyProfile'
        '403':
          description: Yalnız super_admin

  /admin/companies/{id}/approve:
    patch:
      tags: [Admin — Companies]
      summary: Şirkəti təsdiqlə / rədd et
      description: Yalnız super_admin. Status dəyişdikdə şirkətə push bildiriş gedir.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveCompanyRequest'
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyProfile'
        '403':
          description: Yalnız super_admin
        '404':
          description: Şirkət tapılmadı

  # ════════════════════════════════════════
  # WORKERS
  # ════════════════════════════════════════

  /workers/me:
    get:
      tags: [Workers]
      summary: Öz işçi profilini gör
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerProfile'
        '403':
          description: Yalnız worker rolu

    patch:
      tags: [Workers]
      summary: İşçi profilini yenilə (skills, availability)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkerRequest'
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerProfile'

  /admin/workers:
    get:
      tags: [Admin — Workers]
      summary: Bütün işçilərin siyahısı
      description: Yalnız super_admin. Sifariş üçün işçi seçərkən istifadə olunur.
      security:
        - BearerAuth: []
      parameters:
        - name: skills
          in: query
          schema:
            type: string
          example: "aşpaz,ofisiant"
          description: Vergüllə ayrılmış bacarıqlarla filtr
        - name: available
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkerProfile'
        '403':
          description: Yalnız super_admin

  # ════════════════════════════════════════
  # ORDERS
  # ════════════════════════════════════════

  /orders:
    get:
      tags: [Orders]
      summary: Sifarişlər siyahısı
      description: |
        - **company**: yalnız öz sifarişlərini görür
        - **super_admin**: hamısını görür
        - **worker**: bu endpoint-ə girə bilməz
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, completed, cancelled]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  total:
                    type: integer
                  page:
                    type: integer
        '403':
          description: Worker bu endpoint-ə girə bilməz

    post:
      tags: [Orders]
      summary: Yeni sifariş yarat
      description: |
        company və super_admin yarada bilər.
        Yaradıldıqda super_admin-ə push bildiriş gedir.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Yaradıldı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Validation xətası
        '403':
          description: Şirkət hələ təsdiqlənməyib (status != approved)

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Sifariş detalları
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '403':
          description: Bu sifarişə giriş icazəsi yoxdur
        '404':
          description: Sifariş tapılmadı

    patch:
      tags: [Orders]
      summary: Sifarişi ləğv et
      description: Yalnız status=cancelled dəyişikliyi mümkündür
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [cancelled]
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '403':
          description: Yalnız öz sifarişini ləğv edə bilər
        '404':
          description: Tapılmadı

  # ════════════════════════════════════════
  # ASSIGNMENTS
  # ════════════════════════════════════════

  /orders/{id}/assign:
    post:
      tags: [Assignments]
      summary: Sifarişə işçi təyin et
      description: |
        Yalnız super_admin.
        Hər təyin edilən işçiyə push bildiriş gedir.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignWorkersRequest'
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                type: object
                properties:
                  assigned_count:
                    type: integer
                  assignments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Assignment'
        '400':
          description: worker_ids boşdur və ya sifariş aktiv deyil
        '403':
          description: Yalnız super_admin
        '404':
          description: Sifariş tapılmadı

  /assignments/me:
    get:
      tags: [Assignments]
      summary: İşçinin öz sifarişləri
      description: Yalnız worker rolu. Status ilə filtr edilə bilər.
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, accepted, rejected]
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Assignment'
        '403':
          description: Yalnız worker rolu

  /assignments/{id}/status:
    patch:
      tags: [Assignments]
      summary: Sifarişi qəbul et / rədd et
      description: |
        Yalnız worker.
        Dəyişiklikdə müəssisəyə və admina push bildiriş gedir.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAssignmentStatusRequest'
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assignment'
        '403':
          description: Yalnız öz assignment-ini dəyişə bilər
        '404':
          description: Tapılmadı

  # ════════════════════════════════════════
  # ATTENDANCE (QR)
  # ════════════════════════════════════════

  /attendance/qr-token:
    get:
      tags: [Attendance — QR]
      summary: QR token al (planşet üçün)
      description: |
        Müəssisənin planşetindəki ekranda göstərilir.
        Token HMAC-SHA256 ilə yaradılır, **30 saniyədə bir dəyişir**.
        Flutter hər 25 saniyədə bu endpoint-ə sorğu atıb QR-i yeniləyir.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrTokenResponse'
        '403':
          description: Yalnız company rolu

  /attendance/checkin:
    post:
      tags: [Attendance — QR]
      summary: QR ilə giriş qeyd et
      description: |
        İşçi telefonu ilə QR oxudur, bu endpoint çağırılır.
        Müəssisəyə push bildiriş gedir.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinRequest'
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckinResponse'
        '401':
          description: QR token etibarsızdır
        '410':
          description: QR token vaxtı keçib (30 saniyədən çox)
        '409':
          description: Bu işçi artıq giriş edib

  /attendance/checkout:
    post:
      tags: [Attendance — QR]
      summary: QR ilə çıxış qeyd et
      description: İşçi iş bitdikdə yenidən QR oxudur.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinRequest'
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutResponse'
        '400':
          description: Giriş qeyd edilməyib, çıxış mümkün deyil
        '410':
          description: QR token vaxtı keçib

  # ════════════════════════════════════════
  # RATINGS
  # ════════════════════════════════════════

  /ratings:
    post:
      tags: [Ratings]
      summary: İşçini qiymətləndir
      description: |
        Yalnız company (öz sifarişi üçün) və super_admin.
        Sifariş status=completed olmalıdır.
        Eyni order+worker cütü üçün yalnız bir reytinq mümkündür.
        Qiymətləndirmə sonrası worker.rating_avg avtomatik yenilənir.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRatingRequest'
      responses:
        '201':
          description: Yaradıldı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        '400':
          description: Sifariş tamamlanmayıb və ya artıq qiymətləndirilib
        '403':
          description: Yalnız öz sifarişini qiymətləndirə bilər
        '404':
          description: İşçi və ya sifariş tapılmadı

  /ratings/worker/{worker_id}:
    get:
      tags: [Ratings]
      summary: İşçinin reytinq tarixçəsi
      security:
        - BearerAuth: []
      parameters:
        - name: worker_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Uğurlu
          content:
            application/json:
              schema:
                type: object
                properties:
                  avg:
                    type: number
                    example: 4.3
                  total:
                    type: integer
                  ratings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rating'
        '404':
          description: İşçi tapılmadı

# ─────────────────────────────────────────
# TAGS (Swagger UI qruplaması)
# ─────────────────────────────────────────
tags:
  - name: Auth
    description: Qeydiyyat, giriş, token idarəetməsi
  - name: Companies
    description: Müəssisə profili (öz hesabı)
  - name: Admin — Companies
    description: Super admin — müəssisə idarəetməsi
  - name: Workers
    description: İşçi profili (öz hesabı)
  - name: Admin — Workers
    description: Super admin — işçi siyahısı
  - name: Orders
    description: Sifariş yaratma və idarəetmə
  - name: Assignments
    description: İşçi təyinatı və status idarəetməsi
  - name: Attendance — QR
    description: QR token, giriş-çıxış qeydləri
  - name: Ratings
    description: İşçi qiymətləndirməsi


    # https://editor.swagger.io/ bu linkdə swagger editor ilə açıb yuxarıdakı kodu yapışdıraraq API sənədləşməsini vizuallaşdıra bilərsiniz. Hər endpoint üçün nümunə sorğular və cavablar əlavə etmək, həmçinin Swagger UI-də test etmək mümkündür.